<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Translation Example</title>
</head>
<body>

  <h1 id="hello">Hello</h1>

  <script src="https://cdn.i18next.com/3.8.0/i18next.min.js"></script>
  <script src="https://cdn.i18next.com/3.8.0/i18nextXHRBackend.min.js"></script>
  <script src="https://cdn.i18next.com/3.8.0/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="script.js"></script>

</body>
</html>
